@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500&display=swap');

@font-face {
    font-family: 'BrushFont';
    src: url(../src/assets/Brushes/brushes-webfont.woff2) format('woff2'),
        url(../src/assets/Brushes/brushes-webfont.woff) format('woff'),
        url(../src/assets/Brushes/brushes-webfront.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #033333;
    --color-bg-variant: #004c4a;
    --color-bg-dark: #032929; 
    --color-primary: rgb(245, 187, 150);
    /* --color-primary-variant: rgba(187,124,91, 0.4); */
    --color-primary-variant: #BB7C5B;
    --color-secondary: #10212a;
    --color-secondary-variant: #0a161e;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);     

    --transition-slow: all 800ms ease;
    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    color-scheme: light;   
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display:none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #033333;
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/bg-textureBorderMiddle3.png), url(../src/assets/bg-texture4.png), linear-gradient(#033333, #051522);
    background-size: 100vw, auto;
    background-repeat: no-repeat, auto;
}

/* ======== GENERAL STYLES ============= */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-image: url(../src/assets/BlackOverlay.png), url(../src/assets/BGpattern.png);
    background-size: 80%, auto;
    background-repeat: repeat-y, repeat;
    background-position-x: center, center; 
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn::hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}




/* =============== MEDIA QUERIES (MEDIUM DEVICES) ========= */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {

        background-size: 100%, auto;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 1366px) {

    body {
        background-size: 100vw, 40%;
    }

    section {
        background-size: 90%, 50%;
        padding-bottom: 6rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ========= */

@media screen and (max-width: 600px) {
    body{

        background-size: 100vw, 140%;
    }

    .container {
        width: 100vw;
    }

    section {
        background-size: 100%;
    }

    section > h2 {
        margin-bottom: 2rem;
        
    }

}